.nav-links{
    font-family: Tahoma;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.sm{
    text-align: center;
    font-size: 10px;
}
.navbar-brand{
    font-size: 1.6rem;
    font-family: Tahoma;
    font-weight: 900;
    letter-spacing: 0.1cm;
}
.img-full{
    background-image: url('./assets/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
    z-index: -1;
}
.avatar {
    position: absolute;
    top: -45px;
    left: 30px;
    transform: translateY(-50%);
    z-index: -1;
    }
.avatar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    object-fit: contain;
}
.vs{
    font-size: 18px;
    font-family: Tahoma;
    font-weight: 500;
}
.user{
    font-family: 'Lucida Sans';
}
.txt-ann{
    background: linear-gradient(90deg,#d60404,#360674,#1d0aca,#ca1ba4,#ce0707);
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: anymate 10s linear infinite;
    background-size: 400%;
    font-family: sans-serif;
}

@keyframes anymate {
    0%{
        background-position:  0%;
    }
    100%{
        background-position:  400%;
    }
    
}
@media (max-width:400px) {
    .logo{
        display: none;
    }
    .mn{
        display: flex;
        justify-content: space-between;
    }
    .avatar img{
        width: 100px;
        height: 100px;
    }
    .img-full{
        height: 20vh;
    }
    .avatar{
        top: -60px;
        justify-content: center;
    }
}